Repository ILHQ/vue-cli3-screen-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint src --fix, prettier --write

init
  src/styles/global.scss
  src/styles/mixin.scss
  src/styles/var.scss
Due: none

init
  .env.development
  .env.staging
  alias.config.js
  package.json
  postcss.config.js
  public/index.html
  src/App.vue
  src/iconfont/font.scss
  src/main.js
  src/pages/index/index.vue
  src/store/modules/index.js
  src/store/mutation-types.js
  src/styles/global.scss
  vue.config.js
  yarn.lock
Due: prettier --write ., eslint src --fix

init
  src/iconfont/font.scss
  src/styles/global.scss
  src/styles/mixin.scss
Due: none

init
  alias.config.js
  src/lib/common.js
  tests/unit/example.spec.js
Due: prettier --write ., eslint src --fix

init
  src/App.vue
  src/store/modules/index.js
  src/store/mutation-types.js
Due: prettier --write ., eslint src --fix

init
  README.md
  package.json
  src/styles/global.scss
  yarn.lock
Due: prettier --write

init
  src/router/index.js
Due: prettier --write ., eslint src --fix

Path conditions:
  prettier --write .: any of: *.{js,jsx,ts,tsx}
  eslint src --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.md
